# Control Statements

In [3]:
'''
Syntax of an if statement
if some_code:
    write the code
'''
#example
temp=100
if temp<=100:
    print('true')

true

In [4]:
#Synatx of an if else statement

'''
if some_code:
    write code
elif:
    write code
'''
#example
animal='Lion'
if animal=='Lion':
    print('Found the animal')
else:
    print('Animal is missing')

Found the animal

In [6]:
#Synatx of an if elif else statement

'''
if some_condition:
    write code
elif some_other_condition:
    write code
else:
    write code
'''
#example
num=9
if num==0:
    print('The number is 0')
elif num==100:
    print('The number is 100')
else:
    print('The number lies between 1 and 100')

The number lies between 1 and 100

# Loops

## For Loops

In [2]:
#Synatx of a for Loop

my_iterable_item=[1,2,3,4]
for number in my_iterable_item:
    print(number)

1
2
3
4

In [3]:
my_list=[1,2,3,4,5,6,7,8,9,10]
for item in my_list:
    if item%2==0:
        print(f'{item} is an even number.')
    else:
        print(f'{item} is an odd number.')

1 is an odd number.
2 is an even number.
3 is an odd number.
4 is an even number.
5 is an odd number.
6 is an even number.
7 is an odd number.
8 is an even number.
9 is an odd number.
10 is an even number.

In [4]:
#program to find the sum of number in 'my_list'
sum_of_my_list=0

for num in my_list:
    sum_of_my_list+=num
print(sum_of_my_list)

55

In [5]:
test='Hello World'
for letter in test:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [6]:
#The above code can also be written as
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [7]:
my_tuple=(1,2,3)
for tuple_item in my_tuple:
    print(tuple_item)

1
2
3

In [8]:
#The following code is an introduction to tuple unpacking
my_list=[(1,2),(3,4),(5,6),(7,8)]
for tuples in my_list:
    print(tuples)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [9]:
#Tuple unpacking can also be approached by
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

### For loops in dictionary

In [11]:
my_dict={'t1':1,'t2':2,'t3':3}

for key in my_dict:
    print(key)

t1
t2
t3

In [12]:
# we can see that only the keys printed in the above code

#To get access of both the keys and values, we use the following code

for key in my_dict.items():
    print(key)

('t1', 1)
('t2', 2)
('t3', 3)

In [13]:
#The above approach is similat to tuple unpacking

In [14]:
for value in my_dict.values():
    print(value)

1
2
3

In [15]:
for key in my_dict.keys():
    print(key)

t1
t2
t3

In [16]:
#Tuple unpacking

for key,value in my_dict.items():
    print(value)

1
2
3

## While Loops

In [17]:
# Syntax of a while loop
# while something_is_true:
#    run_code

A while loop can also be used with an else statement

In [18]:
#Syantx is

# while some_condition_is_true:
#     run_code
#else:
#     run_different_code

In [19]:
#Example
x=10
while x>=0:
    print(f'The value of x is {x}')
    x=x-1

The value of x is 10
The value of x is 9
The value of x is 8
The value of x is 7
The value of x is 6
The value of x is 5
The value of x is 4
The value of x is 3
The value of x is 2
The value of x is 1
The value of x is 0

In [20]:
x

-1

In [21]:
x=1
while x>10:
    print('X is greater than 10')
else:
    print('X is less than 10')

X is less than 10

### break, continue, pass <br>
break: Breaks out of the current closest enclosing loop <br>
continue:Goes to the top of the current enclosing loop <br>
pass: Does nothing at all

In [23]:
x=[1,2,3]

for item in x:
    #Run Code

IndentationError: expected an indented block (Temp/ipykernel_8868/3721402727.py, line 4)

In [25]:
#For programmers...they would sometimes use the keyword pass to use it as a placeholder to avoid a syntax error
x=[1,2,3,4]
for item in x:
    pass

In [29]:
test='This is a string'
for letter in test:
    if letter=='i':
        continue
    print(letter)

T
h
s

s

a

s
t
r
n
g

In [30]:
test='Hello World'
for letter in test:
    if letter=='o':
        break
    print(letter)

H
e
l
l

### Some Important Operators

**1. range()**

In [31]:
my_list=[1,2,3]
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [32]:
for num in range (3,10):
    print(num)

3
4
5
6
7
8
9

In [33]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

From the above three executions of code, we can see that the **range()** has a (start,end,skip) approach. <br>
for x in range(a,b,c): <br>
The above lines of code means that a<= x< b with x increasing by 2 starting fom a.

In [34]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

**2. enumerate()**

In [35]:
for item in enumerate('letters'):
    print(item)

(0, 'l')
(1, 'e')
(2, 't')
(3, 't')
(4, 'e')
(5, 'r')
(6, 's')

We can see that enumerate function returns tuple. So we can apply tuple unpacking in here too.

In [36]:
for index,value in enumerate('letters'):
    print(index)
    print(value)
    print('\n')

0
l


1
e


2
t


3
t


4
e


5
r


6
s

**3. zip()**

In [37]:
#Let's see the zip function with an example

In [38]:
list1=['1','2','3']
list2=['a','b','c']

zipped_list=zip(list1,list2)
zipped_list

In [40]:
#To look at the zipped list, we have to itterate over it

for x in zipped_list:
    print(x)

('1', 'a')
('2', 'b')
('3', 'c')

From the above example, we can see the **zip()** returns a tuple. <br>
We can use multiple lists.

In [42]:
list(zip([1,2,3,4],['a','b','c'],['5','6','7']))

[(1, 'a', '5'), (2, 'b', '6'), (3, 'c', '7')]

**in** operator <br>
We can check if an object is in a list

In [43]:
'tiger' in ['elephant','lion','tiger']

True

In [44]:
1 in [2,3,4]

False

In [45]:
'a' in 'What a beautiful World'

True

In [46]:
d={'key':1234}

In [47]:
1234 in d.values()

True

In [48]:
'key' in d.keys()

True

In [49]:
'key' in d.values()

False

**min** and **max** are built in keywords in python. So don't take them as variables unlike in other languages

In [50]:
my_list=[100,101,99]

In [51]:
min(my_list)

99

In [52]:
max(my_list)

101

**random** <br>
random is a built in library in Python

In [53]:
# following is an example of importing a function from a library

from random import shuffle

In [54]:
mylist=[1,2,3,4,5]

In [58]:
shuffled_list=shuffle(mylist)

In [59]:
mylist

[4, 1, 2, 3, 5]

**Note** The shuffle function does not return anything

In [60]:
type(shuffle)

method

We can also generate random integers in Python using the **randint** function from the random library

In [62]:
from random import randint

In [63]:
randint(0,100)

43

In [64]:
randint(99,100)

100

We can see that **randint** takes two parameters. <br>
The first parameter takes a lower bound integer and the second parameter takes an upper bound parameter

### Taking user inputs with the input keyword

In [66]:
name=input('Enter your name: ')

Enter your name: Kaustav

It is worth mentioning that whatever value we enter in a user input, it is always treated as a string.

In [67]:
num=input('Enter a number: ')

Enter a number: 4

In [68]:
type(num)

str

In [70]:
# To get the respective kind of types we want, we need to typecaste it

# For exammple

num=int(input('Enter a number: '))

Enter a number: 3

In [71]:
type(num)

int

In [72]:
# Another example

num=float(input('Enter a floating point number.'))
type(num)

Enter a floating point number.3.7

float

## List Comprehensions

In [73]:
mylist=[]
for letter in 'Hello':
    mylist.append(letter)

In [74]:
mylist

['H', 'e', 'l', 'l', 'o']

In [75]:
#  We can also do this with list comprehensions in a single line of code. 
# Let's break this step by step
new_list=[letter for letter in 'Hello']

In [76]:
new_list

['H', 'e', 'l', 'l', 'o']

In [77]:
new_list2=[num for num in range(0,11)]
new_list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
new_list3=[num**2 for num in range(0,11)]
new_list3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Code Readability is very important. So try not to use list comprehensions too much as you might not be able to read your own code after a month.