# Functions in Python <br>
The help function is a default function provided by Python whcich gives us the property of a method. <br>
Example.

In [2]:
my_list=[1,2,3,4]
help(my_list.append(5))

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
help(my_list.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

## def keyword

In [4]:
#syntax of a function in python

#
''' //function prototype

def name_of_function():
    print('Hello')
    
    //function call
name_of_function()    
    
'''

# Note: in python, we use snake casing

" //function prototype\n\ndef name_of_function():\n    print('Hello')\n    \n    //function call\nname_of_function()    \n    \n"

In [5]:
#n A function with a parameter

def print_name(name):
    print('Hello '+name)
print_name('Kaustav')

Hello Kaustav

In [6]:
# Function to add two numbers

def add(num1,num2):
    return (num1+num2)
result=add(10000,13246)
print(result)

23246

While dealing with function with a parameter, if we forget to provide any argument, we will get a TypeError.  <br>
To avoid this, we can give a default value to the paramter at the time of defining the function as show below.

In [7]:
def Name(firstName='Kaustav'):
    print(firstName)

In [10]:
Name('Jisoo')

Jisoo

In [11]:
Name()

Kaustav

## Functions with logic

In [12]:
# Function to check whether a number is even or odd

def check_even_or_odd(num):
    return num%2==0

In [13]:
check_even_or_odd(20)

True

In [14]:
check_even_or_odd(21)

False

In [23]:
# Write a function that returns true if any number in the list is even
my_list=[1,2,3,4,5]

def check_even(provided_list):
    for x in provided_list:
        if x%2==0:
            return True
        else:
            pass
    return False

In [24]:
check_even(my_list)

True

In [25]:
check_even([1,3,5])

False

In [32]:
# Write a function that returns an a list of even numbers from a diffferent list

def return_even_list(provided_list):
    even_list=[]
    for x in provided_list:
        if x%2==0:
            even_list.append(x)
        else:
            pass
    return even_list

In [33]:
return_even_list([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [34]:
my_list=[1,3,5,7,9]
return_even_list(my_list)

[]

## Tuple unpacking with Python functions

#### We can understand tuple unpacking through functions with the follwoing example

In [42]:
#From a list of tuples of Employee name and the hours they have worked, return the Employee who has worked most amount of hours

employee_data=[('Eren',24),('Levi',180),('Mikasa',17),('Hange',12)]

def Employye_of_the_month(provided_data):
    maxHours=0
    employeeName=''
    for employee,hours in provided_data:
        if hours>maxHours:
            maxHours=hours
            employeeName=employee
        else:
            pass
    return (employeeName,maxHours)

Employye_of_the_month(employee_data)

('Levi', 180)

### interactions between functions in python

In [71]:
my_list=['','','0'];
from random import shuffle

In [72]:
def start_game(given_list):
    shuffle(given_list)
    return given_list

In [73]:
my_list

['', '', '0']

In [74]:
def users_choice():
    user_guess=int(input('Choose between 0,1,or 2'));
    return user_guess

In [75]:
def check_answer(given_list,choosen_number):
    if given_list[choosen_number]=='0':
        return 'Correct Guess'
    else:
        return 'In Correct Guess'

In [81]:
my_list=['0','','']

shuffled_list=start_game(my_list)
choice=users_choice()
check_answer(shuffled_list,choice)

Choose between 0,1,or 22

'In Correct Guess'

#### *args and **kwargs in python
<br> args stand for arguments <br>
kwargs stand for keyword arguments

In [84]:
# when we assign *args, we are assigning a variable number of parameters to a function.

# For example

def num(*args):
    result=0
    for x in args:
        result+=x
    return result

In [85]:
num(1,2,3)

6

In [91]:
# **kwargs 
def myfunc(**kwargs):
    print(kwargs)
    if 'veggie' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['veggie']))
    else:
        print('I did not find any fruit here')

In [92]:
myfunc(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is lettuce

In [93]:
# using kwargs and args together

def myfunc(*args,**kwargs):
    print('I would like {} {}'.format(args[0],kwargs['games']))

In [94]:
myfunc('to',20,30,games='GTA')

I would like to GTA

In [110]:
def length(string):
    l=len(string)
    res=''
    for x in range(0,l):
        if x%2==0:
            res+=string[x].upper()
        else:
            res+=string[x].lower()
    return res

In [111]:
length('Hello')

'HeLlO'

In [112]:
# Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or 
# both numbers are odd
def fun(a,b):
    if a%2==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else:
            return b

In [113]:
fun(2,4)

2

In [114]:
fun(1,3)

3

In [115]:
# Another approach for the abive problem is

def fun(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [116]:
fun(10,20)

10

In [117]:
fun(10,9)

10

#### Write a function that takes a two word string and returns True if both begin with same letter

In [120]:
def word(string):
    l1=string[0]
    temp=0
    for x in range(0,len(string)):
        if string[x]==' ':
            temp=x+1
    l2=string[temp]
    if l1==l2:
        return True
    else:
        return False

In [121]:
word('Delhi Delhi')

True

In [122]:
word('Delhi Ghy')

False

In [123]:
# Another way of solving this problem is

def word(string):
    my_list=string.split()
    f=my_list[0]
    l=my_list[1]
    if f[0]==l[0]:
        return True
    else:
        return False

In [124]:
word('Hello Hola')

True

In [125]:
word('Chicken Fries')

False

In [126]:
#The above problem can further be shortened as
def word(string):
    my_list=string.split()
    return my_list[0][0]==my_list[1][0]

In [127]:
word('Hello Hola')

True

In [128]:
word('Hello Chicken')

False

#### write a function that takes two integers, return true if the sum is 20 or if one of the integers is 20. If not return False

In [129]:
def makes_twenty(a,b):
    if a+b==20 or a==20 or b==20:
        return True
    else:
        return False

In [130]:
makes_twenty(12,8)

True

In [131]:
makes_twenty(20,0)

True

In [132]:
makes_twenty(20,56)

True

In [133]:
makes_twenty(23,-3)

True

In [134]:
makes_twenty(12,12)

False

In [136]:
# Ina single line of code
def makes_twenty(a,b):
    return (a+b==20) or a==20 or b==20

In [137]:
makes_twenty(20,0)

True

#### Write a function that capitalizes the first and fourth letters of a name

In [141]:
def fun(string):
    l=len(string)
    result=''
    for x in range(0,l):
        if x==0 or x==3:
            result+=string[x].upper()
        else:
            result+=string[x]
    return result

In [143]:
fun('macdonald')

'MacDonald'

In [144]:
# another way
def fun(string):
    first=string[0]
    mid=string[1:3]
    fourth=string[3]
    end=string[4:]
    return first.upper()+mid+fourth.upper()+end

In [146]:
fun('macdonald')

'MacDonald'

In [147]:
#Another way
def fun(string):
    first=string[:3]
    second=string[3:]
    return first.capitalize()+second.capitalize()

In [148]:
fun('macdonald')

'MacDonald'

#### Given a sentence, return a sentence with the words rversed

In [151]:
def fun(string):
    lists=string.split()
    lists=lists[::-1]
    return lists

In [152]:
fun('I am home')

['home', 'am', 'I']

But the above output is a list rather than a string <br>
To get the string, we shall use join off a string

In [153]:
def fun(string):
    lists=string.split()
    lists=lists[::-1]
    return ' '.join(lists)

In [154]:
fun('I am home')

'home am I'

what the join off a string method does is it returns a string from the given lists with each element of the list sepearted by  
the strings passed before... To amke it clear...we will check the following example

In [155]:
my_list=['Kaustav','Kakoty']

'---'.join(my_list)

'Kaustav---Kakoty'

In [156]:
my_list=['Kaustav','Kakoty']

' hello '.join(my_list)

'Kaustav hello Kakoty'

#### Given an integer n, return true if n is within 10 of either 100 or 200

In [157]:
def within(n):
    return (90<=n<=110)or(190<=n<=210)

In [158]:
within(20)

False

In [159]:
within(104)

True

In [160]:
within(90)

True

In [161]:
within(150)

False

In [163]:
#It acn also be written as 
def within(n):
    return (abs(100-n)<=10) or (abs(200-n)<=10)  # abs(num) returns the absolute value of a number

In [164]:
within(104)

True

In [165]:
within(150)

False

#### Given a list of ints, return true if the array conatins a 3 next to a 3 somewhere

In [12]:
def fun(given_list):
    for i in range(0,len(given_list)):
        if given_list[i]==3 and given_list[i+1]==3:
            return True
    return False

In [13]:
fun([1,2,3,4])

False

In [14]:
fun([1,2,3,3])

True

#### Given a string, return a string where for every character in the original there are three characters

In [40]:
def fun(string):
    res=[]
    for x in range(0,len(string)):
        ip=string[x]+string[x]+string[x]
        res.append(ip)
        result=''.join(res)
    return result

In [41]:

fun('hello')

'hhheeellllllooo'

In [42]:
#Anotehr way
def fun(string):
    result=''
    
    for char in string:
        result+=char*3
    return result

In [43]:
fun('HEllo')

'HHHEEEllllllooo'

#### Given three integers between 1 and 11, if their sum is less than or equal to 21, return thir sum. If their sum exceeds 21 and there's
#### an 11, reduce the total sum by 10. Finally, if the sum(even after adjustment) exceeds 21, return 'Bust'

In [53]:
def fun(a,b,c):
    sums=a+b+c
    if sums<=21:
        return sums
    elif sums>21 and (a==11 or b==11 or c==11):
        sums=sums-10
        if sums<=21:
            return sums
        else:
            return 'Bust'

In [54]:
fun(11,1,2)

14

In [55]:
fun(11,3,10)

14

In [57]:
fun(5,5,5)

15

#### Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extendning to the next 9

In [63]:
def fun(arr):
    sum=0
    for x in range(0,len(arr)):
        if arr[x]==6:
            f=x
            break
        else:
            pass
    
    for y in range(0,len(arr)):
        if arr[y]==9:
            l=y
            break
        else:
            pass
    for z in range(0,len(arr)):
        if f<=z<=l:
            pass
        else:
            sum+=arr[z]
    return sum

In [64]:
fun([4,5,6,7,8,9,10])

19

#### Write a function that takes in a list of integers and returns True if it contains 007 in order

In [24]:
def fun(arr):
    for x in range(0,len(arr)):
        if arr[x]==0:
            first=x
            break
    
    for y in range(first+1,len(arr)):
        if arr[y]==0:
            second=y
            break
    
    for z in range(0,len(arr)):
        if arr[z]==7:
            third=z
            break
    if first<second<third:
        return True
    else:
        return False

In [25]:
fun([0,1,2,0,3,4,7])

True

####  Write a program to determine the number of prime numbers in a number

In [26]:
def prime(num):
    x=2
    res=[]
    while x<num:
        if num%x==0:
            return False
        x=x+1
    return True

In [23]:
prime(4)

False

#### Lambda expresssions are a way to quickly create what are knwon as anonymous functions basically creating a function that we will use one time and we don't necessarily need a name for it

### map()

In [27]:
# Let us consider a function that takes one input and returns the square value

def square(num):
    return num**2

#### We can see that the sqaure function cannot take a list and return its sqaure unless we itterate over it.
#### and in such case we use the map function for writing less code

In [31]:
'''
Syntax for map function

map(function_name,list_name)

'''

my_nums=[1,2,3,4,5]
for item in map(square,my_nums):    # As shown here, we are not calling the function here, rather passing it
    print(item)

1
4
9
16
25

In [30]:
# and if we want to return a list of the square numbers, we can use the following code

list(map(square,my_nums))

[1, 4, 9, 16, 25]

### filter() <br>
The filter function returns an iterator yielding those items of the iterable for which wehn you pass. It's syntax is similar to the map()

In [32]:
def check_even(num):
    return num%2==0

In [33]:
example_numbers=[1,2,3,4,5,6,7,8,9,10]
list(filter(check_even,example_numbers))

[2, 4, 6, 8, 10]

### the LEGB rule <br>
LEGB rule is the rule and this is essentially the order that Python is going to look for variables <br>
L: Local <br>
E: Enclosing function locals <br>
G: Global module
B: Built in (Python)

In [34]:
## Write a function that checks whether a number is in a given range(inclusive of high and low)

def fun (num,low,high):return low<=num<=high

In [35]:
fun(5,2,7)

True

In [41]:
# Write a function that takes a list and returns a new list with unique elements of the first list

def fun(string):
    low=0
    high=0
    for x in string:
        if x.islower():
            low=low+1
        else:
            high=high+1
    return [high,low]

In [42]:
fun('HEllo')

[2, 3]

In [48]:
# Write a function that takes a list and returns a new list with unique elements of the first list

def fun(given_list): return list(set(given_list))

In [50]:
fun([1,1,1,1,2,2,3,4,4,5])

[1, 2, 3, 4, 5]

In [51]:
# Write a function to multiply all the numbers in a list

def mul(given_list):
    result=1
    for x in given_list:
        result=result*x
    return result

In [53]:
mul([1,2,3,-4])

-24

In [55]:
# Write a function that check whether a word or phrase is a plindrome or not
def fun(phrase):
    i=0
    j=len(phrase)-1
    while i<=j:
        if phrase[i]!=phrase[j]:
            return False
        else:
            i=i+1
            j=j-1
    return True

In [56]:
fun('tenet')

True

In [57]:
fun('tenets')

False

In [58]:
# another way of checking whether a string is palindrome or not

def fun(phrase):
    reverse_phrase=phrase[::-1]
    return reverse_phrase==phrase

In [61]:
fun('TeneTT')

False

In [62]:
fun('TeneT')

True

In [94]:
# Write a function to check whether a string is panagram or not


def is_panagram(phrase):
    import string
    x=set(string.ascii_lowercase)
    y=set(list(phrase))
    y.remove(' ')
    print(x)
    return x==y

In [95]:
is_panagram('the quick brown fox jumps over the lazy dog')

{'b', 'k', 'n', 'i', 'z', 'a', 'p', 'f', 'e', 'j', 'u', 'r', 'h', 'd', 'm', 'w', 'g', 'y', 'q', 't', 'x', 'c', 'o', 's', 'l', 'v'}

True